$classic-black: black;
$classic-white: white;
$hover-white: #f8f9facf;
$grey-dark: #131313;
$light-grey: #f6f8fa;
$light-white: #fcfcfc;
$red: #eb5555;
$favorite-background: #1d1d1d;
$base-favorite: rgba(235, 85, 85, 0.5);
$hover-favorite: #eb5555;

// Tags colors:

$action-tag: #4258a1;
$adventure-tag: #43aa8b;
$animation-tag: #4ecdc4;
$comedy-tag: #db7c26;
$crime-tag: #073b4c;
$documentary-tag: #f4f1de;
$drama-tag: #f2cc8f;
$family-tag: #ff6b6b;
$fantasy-tag: #ef7a85;
$history-tag: #81b29a;
$horror-tag: #f4a261;
$musics-tag: #ff6b6b;
$mystery-tag: #489fb5;
$romance-tag: #d88c9a;
$science-tag: #2d3142;
$thriller-tag: #50514f;
$tv-tag: #344e41;
$war-tag: #f94144;
$western-tag: #a47e1b;
